USE [master]
GO
/****** Object:  Database [AireSpring]    Script Date: 6/16/2020 12:56:42 AM ******/
CREATE DATABASE [AireSpring]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AireSpring', FILENAME = N'C:\Users\fredy.cerna\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\AireSpring.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AireSpring_log', FILENAME = N'C:\Users\fredy.cerna\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\AireSpring.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AireSpring].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AireSpring]
GO
USE [AireSpring]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 6/16/2020 12:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[FirstName] [varchar](200) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[ZipCode] [varchar](30) NOT NULL,
	[HireDate] [date] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
